:root{
  --white: #ffffff;
  --first-Color: #004A44;
  --second-Color: #007d7381;
  --second-Color-Old: #518f8a;
  --third-Color: #008A7E;
  --accent-Color: #963100;
}

p{
    margin: 0 0 0 .5em;
}

body{
  background-color: var(--white);
  color: var(--first-Color);
}
.navbar-light{
  background-color: var(--white);
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: var(--first-Color);
}
.navbar-light .navbar-brand{
  color: var(--first-Color);
}
.navbar-light .navbar-brand:hover{
  color: var(--first-Color);
}
.navbar-light .navbar-nav {
  transition: 1s;
}
.navbar-light .navbar-nav .nav-link{
  color: var(--second-Color);
}
.navbar-light .navbar-nav .nav-link:hover{
  color: var(--first-Color);
}
.navbar-light .navbar-nav .nav-link.active{
  color: var(--first-Color);
}

.btn{
  margin: .1em;
}

.btn-primary{
  background-color: var(--first-Color);
  color: var(--white);
  border-color:  var(--first-Color);
}
.btn-outline-primary{
  background-color: var(--white);
  color: #004A44;
  border-color: #004A44;
}

.btn-primary:hover{
  background-color: var(--second-Color-Old);
  color: var(--white);
  border-color: var(--white);
}

.btn-outline-primary:hover{
  background-color: var(--second-Color-Old);
  color: var(--white);
  border-color: var(--white);
}

.loginA, .pwForgottenA{
  color: var(--third-Color);
  text-decoration: none;
  transition: ease-in .1s;
}

.loginA:hover, .pwForgottenA:hover{
  color: var(--accent-Color)
}

#confirmDelete {
    border: 1px black solid;
}

#confirmDelete>h5 {
    color: red;
}

#DeleteUserConfirm{
    background-color: red;
}

#OpenPrivatePageButton{
    transition: ease-out(10s);
    color: var(--first-Color);
    border: 1px solid white;
}

#OpenPrivatePageButton:hover{
    color: var(--accent-Color);
}

h1{
    margin: 2em;
}

button[data-id="forumManagementSelected"]{
    color: var(--first-Color);
    background-color: transparent;
    border: 1px solid white;
}

button[data-id="forumManagementSelected"]:hover{
    border: 1px solid var(--first-Color);
    background-color: transparent;
    color: var(--first-Color);
}

button[data-id="forumManagementNotSelected"]{
    color: var(--second-Color);
    background-color: transparent;
    border: 1px solid white
}

button[data-id="forumManagementNotSelected"]:hover{
    border: 1px solid var(--first-Color);
    background-color: transparent;
    color: var(--first-Color);
}


button[data-id="userManagementSelected"]{
    color: var(--first-Color);
    background-color: transparent;
    border: 1px solid white;
}

button[data-id="userManagementSelected"]:hover{
    border: 1px solid var(--first-Color);
    background-color: transparent;
    color: var(--first-Color);
}

button[data-id="userManagementNotSelected"]{
    color: var(--second-Color);
    background-color: transparent;
    border: 1px solid white
}

button[data-id="userManagementNotSelected"]:hover{
    border: 1px solid var(--first-Color);
    background-color: transparent;
    color: var(--first-Color);
}

.card{
    color: var(--white);
    background-color: var(--first-Color);
    border: 2px solid var(--first-Color);
}  

.card:hover{
    color: var(--white);
    opacity: 90%;
    border: 2px solid var(--second-Color);

}